*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
--color-primary: #6c63ff;
--color-success: #88bf8e;
--color-warning: #f7c94b;
--color-danger: #f75842;
--color-danger-variant:rgba(247, 88, 66, 0.4);
--color-white:#fff;
--color-light: rgba(255, 255,  255, 0.7);
--color-black: #800;
--color-bg:#1f2641;
--color-bg1: #2e3267;
--color-bg2:#024898;

--container-width-1g: 80%;
--container-width-nd: 90%;
--container-width-sm: 94%;

--transition: all 468ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-bg);
}
.container{
    width: var(--container-width-1g);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background-color: transparent;
    color: var(--color-white);
    background-color: var(--color-white);
}
.btn-primary{
    background-color:var(--color-danger);
    color: var(--color-white);
}

/* ==================NAVBAR=================== */
nav{
    background-color: transparent;
    width: 100vw;
    height: 8rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav__container{
    height:100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav_menu a:hover{
    color: var(--color-bg2);
}

/* ==================HEADER=================== */

header{
    position: relative;
    top: 7rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header__left p{
    margin: 1rem 0 2.4rem;
}

/* ==================CATEGORIES=================== */
.categories{
    
}